.location{
    background-color: #072226;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.location__name{
    color: #71A821;
}

.location__list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.location__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location__item span:last-child{
align-items: center;
}